body { background-image: url("Boston.jpg") ;
background-size: cover;
background-attachment: fixed;
background-position: 50% 0%;
color:white;
font-size: 14pt; }
body { font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  text-align: center; }
ul { padding: 0;
  background-color: rgba(0, 0, 0, 0.7); }
li { display: inline-block; }
a:link, a:visited { color: white;
  text-decoration: none;
  padding: 20px;
  text-align: center;
  font-size: 16pt;
}
a:hover { color: #800080; }
div { background: rgba(0, 0, 0, 0.7); }
h1 { color: #800080; }
img {
  width: auto ;
  max-width: 100% ;
  height: auto ; }